<ion-content [fullscreen]="true">
  <div class="logoSpace">
    <ion-img src="../../../assets/img/logo.png"></ion-img>
  </div>
  <ion-item-group class="loginInput">
    <ion-item class="inputTop">
      <ion-input label="Email" label-placement="floating" fill="solid" class="inputField"></ion-input>
    </ion-item>
    <ion-item class="inputBot">
      <ion-input label="Contraseña" label-placement="floating" fill="solid" class="inputField"></ion-input>
    </ion-item>
  </ion-item-group>
  <div class="buttonGroup">
    <ion-button
      class="botonesLogin"
      color="rgb(208, 106, 16)"
      [routerLink]="['/home']"
      >Ingresar</ion-button
    >
    <ion-button class="botonesLogin" [routerLink]="['/register']"
      >Registrarse</ion-button
    >
  </div>
</ion-content>
