<ion-content [fullscreen]="true">
  <div class="logoSpace">
    <ion-img src="../../../assets/img/logo.png"></ion-img>
  </div>

  <div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <ion-item class="loginInputTop">
        <ion-input formControlName="email" type="email" placeholder="Email"></ion-input>
      </ion-item>
      <ion-item class="loginInputBot">
        <ion-input formControlName="password" type="password" placeholder="Contraseña"></ion-input>
      </ion-item>
      <ion-button
        class="button"
        color="light"
        expand="block"
        type="submit"
        [disabled]="!loginForm.valid"
        >Ingresar</ion-button
      >
      <br>
      <ion-text color="danger" *ngIf="errorMessage">
        <p>{{ errorMessage }}</p>
      </ion-text>
    </form>
    <ion-button class="button" color="light" expand="block" [routerLink]="['/register']">Registrarse</ion-button>
  </div>
</ion-content>
