ion-content {
    --background: url('../../../assets/img/pattern.svg');
}

ion-card {
    margin-top: 50%;
    background-color: darkblue;
}

ion-card-content {
    background-color: darkblue;
}

ion-item {
    background-color: darkblue;
    border-radius: 5px;
}

ion-button {
    margin-top: 20px;
    background: rgb(208, 106, 16);
}

.botonesLogin {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
}