<div class="ion-page" id="main-content">
  <ion-header class="headerSection">
    <ion-toolbar class="bar">
      <div class="backArrow">
        <ion-img src="../../../assets/img/arrow-back-circle-outline.svg"></ion-img>
      </div>
      <ion-title>Hola, Usuario!</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item>
      <ion-card [routerLink]="['/main']">
        <ion-card-header>Nueva Build</ion-card-header>
      </ion-card>
    </ion-item>
    <ion-item>
      <ion-card>
        <ion-card-header>Mis Builds</ion-card-header>
      </ion-card>
    </ion-item>
  </ion-content>
</div>
